#goBackToRequestPage {
  font-size: 12px;
  left: 0;
}

.sidebar {
  height: 80%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #275f6d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 20%;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(180, 203, 204);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: rgb(92, 135, 138);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  transition: 0.5s;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(92, 135, 138);
  color: rgb(255, 255, 255);
  width: 20%;
  border: none;
}

.openbtn:hover {
  color: white;
  background-color: rgb(12, 61, 65);
}

#main_content {
  font-size: 15px;
  transition: all 0.5s;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  width: 70%;
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
